@using LASI;
@using LASI.Core;
@using LASI.WebService;
@using Newtonsoft.Json;

@Styles.Render("~/Content/Results.css")
@Styles.Render("~/Content/bootstrap.css")

<title>@ViewBag.Title</title>

<div class="results-pane">
    <ul class="nav nav-tabs" id="results">
        <li class="active"><a href="#reconstructeddocuments">Reconstructed Documents</a></li>
        <li><a href="#topresults">Top Results</a></li>
        <li><a href="#adddocuments">Add Documents</a></li>
    </ul>
    <div class=" tab-content" id="resultstabs">
        <div class="tab-pane fade in active" id="reconstructeddocuments">
            <div>

            </div>
            <div>
                <ul id="documentlist" class="documentlist break-after documentselectiontab">

                    @foreach (var doc in ViewData["docs"] as IEnumerable<LASI.Core.DocumentStructures.Document>) {
                        <li class="documentselectiontab">
                            <a href=@("#"+doc.Name)>
                                @doc.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <br />
            <div>
                @foreach (var doc in ViewData["docs"] as IEnumerable<LASI.Core.DocumentStructures.Document>) {
                    var pages = doc.Paginate(80, 30);
                    <div id=@doc.Name class="content-wrapper">
                        @{
                    var styleMap = new SyntacticStyleMap();
                    var withIds = doc.Phrases.Select(p => new { Phrase = p, Id = p.GetSerializationId() });

                    foreach (var paragraphData in from ided in withIds group ided by ided.Phrase.Paragraph) {
                        <p class="lexical-content-block">
                            @foreach (var e in paragraphData) {
                                <span class="@styleMap[e.Phrase].CssClass"
                                      title='@(e.Phrase.ToString()
                                                  .SplitRemoveEmpty('\n', '\r')
                                                  .Format(Tuple.Create(' ', ' ', ' '), s => s + "\n"))' id="@e.Id">
                                    @e.Phrase.Text

                                    <span id="@("context" + e.Id)" hidden="hidden">
                                        @if (e.Phrase is IVerbal) {
                                            @((e.Phrase as IVerbal).GetJsonMenuData())

                                        }

                                    </span>
                                </span>    }
                        </p>}
                        }

                    </div>

                }

            </div><div id="contextMenu" class="dropdown clearfix" hidden>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
                    <li class="view-subects-menu-item"><a href="#">View Subjects</a></li>
                    <li class="view-directobjects-menu-item"><a href="#">View Direct Objects</a></li>
                    <li class="view-indirectobjects-menu-item"><a href="#">View Indirect Objects</a></li>
                </ul>
            </div>

        </div>
        <div class="tab-pane fade" id="topresults">
            top results
        </div>
        <div class="tab-pane fade" id="adddocuments">
            add document
        </div>
    </div>

</div>








@section scripts{

    @Scripts.Render(@".\..\Scripts\app\Example\Example.js");
}


