@model LASI.WebService.Models.LoginModel
@{
    ViewBag.Title = "Welcome";
}
@functions{
    public string GetAntiForgeryToken() {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<header>
    <h1>@ViewBag.Title</h1>
</header>


<body onload="$(document).ready(
                function () {
                    $('input:submit').attr('disabled', true);
                    $('input:file').change(
                        function () {
                            if ($(this).val()) {
                                $('input:submit').removeAttr('disabled');
                            }
                            else {
                                $('input:submit').attr('disabled', true);
                            }
                        });
                });">

    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input id="file" type="file" name="file" multiple />
        <input type="submit" id="Submit" name="Submit" value="Upload" />
        <script>
        </script>

    }

</body>




@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/todo")
    }

}



