@model MvcApplication2.Models.LoginModel
@{
    ViewBag.Title = "Welcome";
}
@functions{
    public string GetAntiForgeryToken() {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<header>
    <h1>@ViewBag.Title</h1>
</header>


<div id="main-content">

    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        <input id="file" type="file" name="file" multiple />
        <script>
            $(file).addClass("#FileUpload").validate();
        </script>
        <input type="submit" id="Submit" name="Submit" value="Upload" />

    }

</div>







@if (@User.Identity.IsAuthenticated) {
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/todo")
    }

}
