@model LASI.WebService.Models.LoginModel
@{
    ViewBag.Title = "Welcome";
}
@functions{
    public string GetAntiForgeryToken() {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
@using System.Net.Http;
@using System.Web.Http;


<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    <div class="progress">
        <div id="progress1" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%; max-width:100%;">

        </div>
    </div>

    <div>

        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            @FileUpload.GetHtml(name: "upload1", initialNumberOfFiles: 1, includeFormTag: false, addText: "add a file", uploadText: "upload")
            <input type="submit" name="submit" value="upload" />
        }
    </div>


    <div>
        @*@Html.Partial("_Partial1")*@


    </div>

</div>

@section scripts {

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/todo")*@
    @Scripts.Render("~/Scripts/app/Index/Index.js")
}





