@using LASI.Utilities;
@using MvcExperimentation.LexicalElementSerialization;
@model MvcExperimentation.Models.LoginModel
@{
    ViewBag.Title = "My Todo List";
}
@functions{
    public string GetAntiForgeryToken() {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<header>
    <h1>@ViewBag.Title</h1>
</header>
@{
    <div id="main-content">
        <div><form method="put" id="uploadform"><input type="file" accept="*.docx" id="fileUploadInput" /></form> </div>


        @{
            System.IO.Directory.SetCurrentDirectory(@"C:\Users\Aluan\Documents\GitHub\LASI\MvcApplication1\bin");
        }

        <div id="documentDisplayDiv">
            <button id="doNowButton" value="NOW" style="height:20px; width:40px;"></button>
            Now
        </div>
    </div>
    if (@User.Identity.IsAuthenticated) {
        @section scripts {
            <script src="/Scripts/Index.js"></script>
            @Scripts.Render("~/bundles/knockout")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/todo")

        }

    }
}
