@model LASI.WebApp.Models.User.UserModel
@{
    ViewBag.Title = "Welcome " + Model.FirstName ?? string.Empty;
}
@functions{
    public string GetAntiForgeryToken() {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
@using System.Net.Http;
@using System.Web.Http;
@using System.Web.Caching;

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    <div class="progress">
        <div id="progress1" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width:100%;">

        </div>
    </div>
    <div>
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data", target = "post1target1" })) {

            @FileUpload.GetHtml(name: "upload1", initialNumberOfFiles: 1, allowMoreFilesToBeAdded: false, includeFormTag: false, addText: "upload")
            <input type="submit" value="submit" name="submitdocumentbutton" id="submitdocumentbutton" role="button" />  }
    </div>
    <iframe class="hidden" id="post1target1" src=""></iframe>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/App/Home/Initialize.js")
    @Scripts.Render("~/Scripts/App/Home/Index.js")
    @Scripts.Render("~/Scripts/App/Home/Progress.js")


}





