@using LASI;
@using LASI.Core;
@using LASI.Core.DocumentStructures;
@using LASI.WebApp;
@using LASI.WebApp.Models;
@using LASI.WebApp.Models.Lexical;
@Styles.Render("~/Content/App/Home/Results.css")

@model DocumentSetModel
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<title>@ViewBag.Title</title>
<div class="results-pane">
    <ul class="nav nav-tabs" id="results">
        <li class="active"><a data-toggle="tab" href="#reconstructeddocuments">Reconstructed Documents</a></li>
        <li><a data-toggle="tab" href="#topresults">Top Results</a></li>
        <li><a data-toggle="tab" href="#adddocuments">Add Documents</a></li>
    </ul>
    <div class="tab-content" id="resultstabs">
        <div class="tab-pane fade in active" id="reconstructeddocuments">
            <div>

                <ul id="documentlist" class="list-group documentselectiontab col-md-3">
                    @foreach (var documentModel in ViewData["docs"] as IEnumerable<DocumentModel>) {
                        <li class="list-group-item">

                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=@('#' + documentModel.Name)>
                                @documentModel.Name
                            </button>
                        </li>
                    }
                </ul>
            </div>
            <br />
            <div>
                @foreach (var documentModel in ViewData["docs"] as IEnumerable<DocumentModel>) {
                    <div id=@documentModel.Name class="modal fade document-modal-lg" tabindex="-1" role="dialog" aria-labelledby="#myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="document-title">@documentModel.Name</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="document">
                                        @foreach (var paragraphModel in documentModel.ParagraphViewModels) {
                                            Html.RenderPartial("_Paragraph", paragraphModel);
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
                <div id="verbalContextMenu" class="dropdown clearfix" hidden>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px;">
                        <li class="view-subects-menu-item"><a href="#">View Subjects</a></li>
                        <li class="view-directobjects-menu-item"><a href="#">View Direct Objects</a></li>
                        <li class="view-indirectobjects-menu-item"><a href="#">View Indirect Objects</a></li>
                        <li class="view-referredto-menu-item"><a href="#">View Referred To</a></li>


                    </ul>
                </div>

            </div>

        </div>
        <div class="tab-pane fade" id="topresults">

            <ul id="documentlist" class="list-group documentselectiontab col-md-3">
                @foreach (var documentModel in ViewData["docs"] as IEnumerable<DocumentModel>) {
                    <li class="list-group-item">
                        <button type="button"
                                class="btn btn-primary btn-lg"
                                data-toggle="modal"
                                data-target=@('#' + documentModel.Name.ToSizzleSafeString() + "_topresults")>
                            @documentModel.Name
                        </button>
                    </li>
                }
            </ul>
            @foreach (var documentModel in ViewData["docs"] as IEnumerable<DocumentModel>) {
                <div id=@(documentModel.Name.ToSizzleSafeString() + "_topresults") class="modal fade top-results-modal" tabindex="-1" role="dialog" aria-labelledby="#topResultsModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="document-title">@documentModel.Name</h4>

                            </div>
                            <div class="modal-body">
                                <div class="container chart-container" id=@(documentModel.Name.ToSizzleSafeString() + "_resultschart")>
                                    <span id=@(documentModel.Name.ToSizzleSafeString() + "_topresultrows") hidden>
                                        @(ViewBag.charts[documentModel])
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="tab-pane fade" id="adddocuments">
            <div class="container add-document-container">
                <h1>Add documents</h1>
                <div id="main-content">
                    <div>
                        @{
                            Html.RenderPartial("_DocumentUpload", new FileUploadModel
                            {
                                AcceptedExtensions = new[] { "*.txt" },
                                UploadTarget = "fileuploadtarget",
                            });
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{

    <!--I can confirm that these Unix Style file paths work, and are less confusing to deal with. For consistency, I vote we use them to specify these kind of paths.-->
    <!--agreed-->
    @Scripts.Render("~/Scripts/App/Home/Initialize.js")
    @Scripts.Render("~/Scripts/App/Home/Progress.js")
    @Scripts.Render("~/Scripts/App/Home/Results.js")
    @Scripts.Render("~/Scripts/App/Home/Index.js")
    @Scripts.Render("~/Scripts/App/Home/ReconstructedDocumentInteraction.js")

}


