@inject Microsoft.Framework.OptionsModel.IOptions<LASI.WebApp.AppSettings> AppSettings
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @AppSettings.Options.SiteTitle</title>
</head>
<body ng-strict-di ng-cloak ng-controller="ListController as controller">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="document-list-navbar-item-container" class="dropdown-toggle">
                    @if (User?.Identity?.IsAuthenticated ?? false) {
                        @await Html.PartialAsync("_DocumentListNavDropdown")
                    }
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-brand">
                        <a href="~/">
                            <span>
                                <img class="project-logo-navbar" src="~/images/ic_launcher-web - Copy.png" />
                            </span>
                        </a>
                    </li>
                    <li>
                        @Html.ActionLink(
                            linkText: string.Empty,
                            controllerName: "Home",
                            actionName: "Index",
                            htmlAttributes: new { @class = "fa fa-home fa-lg" },
                            routeValues: new { }
                        )
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <upload-panel></upload-panel>
        <footer>
            <p>&copy; 2015 - @AppSettings.Options.SiteTitle</p>
        </footer>
        @await Html.PartialAsync("_ManageDocumentsModal")
    </div>
    <script src="~/jspm_packages/system.js"></script>
    <script src="~/config.js"></script>
    <script>
        System.import('app')
                .then(function (app) { app.default(); })
                .catch(console.error.bind(console));
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
