<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - LASI</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")


    <meta name="description" content="Welcome to the LASI Project homepage" />
</head>
<body>
    <div id="userSettings">
        @*@{
                Html.Partial("_UserSettings");
            }*@
    </div>

    <div id="body">
        <!--Test of Bootstrap framework-->
        <nav class="navbar navbar-static-top navbar-inverse" role="navigation">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="~/Home/Index">
                            <div id="Logo">
                                <img src="~/Images/ic_launcher-web.png" width="46" height="46" />
                            </div>
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Recently viewed</a></li>
                                    <li><a href="#">Preferences</a></li>
                                    <li><a href="#">Organization</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li id="resultsnavitem"><a href="~/Home/Results">Results</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Account/Login/">Login</a></li>
                                    <li><a href="~/Account/CreateAccount/">Create Account</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Account/Settings/">Account Settings</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </div>
        </nav>
        @RenderBody()
    </div>
    <footer>
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
            </ul>
        </nav>

        <p>&copy; @DateTime.Now.Year | LASI - Project</p>
    </footer>
    <!--I can confirm that these Unix Style file paths work, and are less confusing to deal with. For consistency, I vote we use them to specify these kind of paths.-->
    <!--agreed-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    @Scripts.RenderFormat("~/Scripts/require.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajaxlogin")
    @Scripts.Render("~/Scripts/App/Home/Initialize.js")
    @Scripts.Render("~/Scripts/App/Home/Progress.js")
    @Scripts.Render("~/Scripts/App/Home/Results.js")
    @Scripts.Render("~/Scripts/App/Home/Index.js")
    @Scripts.Render("~/Scripts/App/Home/TextInteraction.js")
    @RenderSection("scripts", required: false)
</body>
</html>