<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LASI</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    @Scripts.Render("~/Scripts/require.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/context.js")
    @Scripts.Render("~/Scripts/App/Home/Initialize.js")
    @Scripts.Render("~/Scripts/App/Home/Progress.js")
    @Scripts.Render("~/Scripts/App/Home/Results.js")
    @Scripts.Render("~/Scripts/App/Home/Index.js")
    @Scripts.Render("~/Scripts/App/Home/TextInteraction.js")
    @Scripts.Render("~/Scripts/App/Widgets/document-upload.js")
    @RenderSection("scripts", required: false)
</body>
</html>
