<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" meta charset="utf-8" />
    <title>LASI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/widgets/document-upload.css" />
    <link rel="stylesheet" href="~/css/results/results.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="document-list-navbar-item-container" class="dropdown-toggle hidden">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        @await Component.InvokeAsync("DocumentList", 4)
                    }
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-brand">
                        <a href="~/">
                            <div>
                                <img class="project-logo-navbar" src="~/images/ic_launcher-web - Copy.png" />
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="glyphicon glyphicon-upload"></a>
                    </li>
                    <li>@Html.ActionLink("Results", "Index", "Results")</li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="body-content">
            <div class="container-fluid">
                @RenderBody()
                <hr />
                @RenderFooter()
            </div>
        </div>
    </div>
    <script src="http://www.google.com/jsapi"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/draggable/draggable.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="~/lib/angular-bootstrap-contextmenu/contextMenu.js"></script>
    <script src="~/dist/app/app.js"></script>
    @RenderSection("scripts", required: false)
</body>


</html>
@helper RenderFooter()
{
    <footer>
        <p>&copy; @DateTime.Now.Year - LASI Project</p>
    </footer>
}