<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LASI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/widgets/document-upload.css" />
    <link rel="stylesheet" href="~/css/results/results.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {

                    @await Component.InvokeAsync("DocumentList", 4);

                }


            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    @*
                        <li>@Html.ActionLink("LASI", "Index", "Home")</li>*@
                    <li class="navbar-brand">
                        <a href="~/" onclick="(function() { $.get('/home/index'); })">
                            <div>
                                <img class="logo" src="~/images/ic_launcher-web - Copy.png" width="30" style="margin-top:-30px;" />
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="glyphicon glyphicon-upload"></a>
                    </li>
                    <li>@Html.ActionLink("Results", "Index", "Results")</li>
                    @*
                        <li>@Html.ActionLink("Contact","Contact", "Home")</li>

                        <li>@Html.ActionLink("About Asp.Net","About", "Home")</li>*@
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="body-content">
            <div class="container-fluid">

                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - LASI Project</p>
                </footer>
            </div>
        </div>
    </div>
    <script src="http://www.google.com/jsapi"></script>

    @*
        <script data-main="startup.js" src="~/lib/requirejs/require.js"></script>*@
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/draggable/draggable.js"></script>
    @*
        <script src="~/lib/rivets/rivets.bundled.min.js"></script>*@
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    @*
        <script src="~/lib/bootstrap/js/npm.js"></script>*@


    <script src="~/app/utilities/log.js"></script>
    <script src="~/app/utilities/augmentations.js"></script>

    <script src="~/app/LASI.js"></script>
    <script src="~/app/account/manage.js"></script>
    <script src="~/app/results/context-menu-provider.js"></script>
    <script src="~/app/results/result-chart-provider.js"></script>
    <script src="~/app/widgets/document-upload.js"></script>
    <script src="~/app/widgets/document-list.js"></script>

    <script src="~/app/widgets/document-list-app/section.js"></script>

    <script src="~/app/widgets/document-list-app/app.js"></script>
    <script src="~/app/widgets/document-list-app/documentService.js"></script>
    <script src="~/app/widgets/document-list-app/resultsService.js"></script>

    <script src="~/app/widgets/document-list-app/documentListMenuItem.js"></script>
    <script src="~/app/widgets/document-list-app/ListController.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>