<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LASI</title>
    <link rel="stylesheet" href="~/dist/lib/lib.min.css" />
    <link rel="stylesheet" href="~/dist/app/app.min.css" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Results", "Index", "Results")</li>
                    <li>@Html.ActionLink("About Asp.Net", "About", "Home")</li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <!--Load the google data visualization AJAX API-->
    <script src="~/dist/lib/lib.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="~/dist/app/app.min.js"></script>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LASI Project</p>
        </footer>
    </div>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>