<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LASI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/widgets/document-upload.css" />
    <link rel="stylesheet" href="~/css/results/results.css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LASI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Results", "Index", "Results")</li>
                    <li>@Html.ActionLink("About Asp.Net", "About", "Home")</li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <!--Load the google data visualization AJAX API-->

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LASI Project</p>
        </footer>
    </div>
    <script src="lib/requirejs/require.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/jquery-validation/jquery.validate.js"></script>
    <script src="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    @*<script src="lib/bootstrap/js/npm.js"></script>*@
    <script src="lib/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>

    <script src="/app/util.js"></script>
    <script src="/app/LASI.js"></script>
    <script src="/app/account/manage.js"></script>
    <script src="/app/results/context-menu-provider.js"></script>
    <script src="/app/results/results.js"></script>
    <script src="/app/widgets/document-upload.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>