@using LASI.Core;
@using LASI;
@using LASI.WebService.Controllers;
@using LASI.WebService;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "CreateAccount";
}
@Styles.Render("~/Content/App/Account/CreateAccount.css")
<div class="col-md-12 container-fluid">
    @using (Html.BeginForm("CreateNew", "Account", FormMethod.Post, new { @class = "form-horizontal" })) {
        @model LASI.WebService.Models.User.UserModel
        <fieldset class=" col-md-4 create-account-form">
            <h2 class="form-horizontal-heading">Create account</h2>
            <!-- Text input-->
            <div class="form-group">

                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-5 control-label" })
                <div class="col-md-7 col-md-offset-0">

                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-md", required = true })
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">

                @Html.LabelFor(m => m.LastName, new { @class = "col-md-5 control-label" })
                <div class="col-md-7 col-md-offset-0">

                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-md", required = true })
                </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-5 control-label" })
                <div class="col-md-7 col-md-offset-0">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-md", type = "email", required = true })


                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">

                @Html.LabelFor(m => m.Password, new { @class = "col-md-5 control-label" })
                <div class="col-md-7 col-md-offset-0">

                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-md", type = "password", required = true })


                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-5 control-label" for="Submit"></label>
                <div class="col-md-5">
                    <button id="Submit" type="submit" name="Submit" class="btn btn-primary">Submit</button>
                    <button id="Reset" name="Reset" class="btn btn-default">Reset</button>
                </div>
            </div>

        </fieldset>
    }
</div>