@using AspSixApp.Models;
@using AspSixApp.WebHelpers;
@using AspSixApp.Models.DocumentStructures;
@{
    ViewBag.Title = "Results";
}
@model DocumentSetModel

<header>
    <h2>@ViewBag.Title</h2>
</header>

<div id="main-content">
    <div class="results-pane container container-fluid">
        <ul class="nav nav-tabs" id="results">
            <li class="active">
                <a data-toggle="tab" href="#reconstructeddocuments">
                    Reconstructed Documents
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#topresults">
                    Top Results
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#adddocuments">
                    Add Documents
                </a>
            </li>
        </ul>
        <br />
        <div class="tab-content" id="resultstabs">
            @RenderReconstructedDocumentsPane()

            @RenderDocumentChartsPane()

            @RenderAddAditionalDocumentsPanel()
        </div>
    </div>
</div>
@helper RenderReconstructedDocumentsPane()
        {
            <div class="tab-pane fade in active" id="reconstructeddocuments">
                <ul class="documentselectiontab col-md-3">
                    @foreach (var documentModel in Model.DocumentModels)
                    {
                        <li class="list-group-item">
                            <input type="button"
                                   class="list-group-item-text btn btn-block btn-primary"
                                   data-toggle="modal"
                                   data-target=@('#' + documentModel.Title.ToSafeHtmlDomId())
                                   value="@documentModel.Title" />
                        </li>
                    }
                </ul>
            </div>
            <br />
            <div>
                @foreach (var documentModel in Model.DocumentModels)
                {
                    @RenderDocumentBodyModel(documentModel)
                }
                @*@RenderStaticContextMenuMarkup()*@
            </div>

}
@helper RenderDocumentChartsPane()
        {
            <div class="tab-pane fade in" id="topresults">

                <ul class="documentselectiontab col-md-3">
                    @foreach (var documentModel in Model.DocumentModels)
                    {
                        <li class="list-group-item">
                            <input type="button"
                                   class="list-group-item-text btn btn-block btn-primary"
                                   data-toggle="modal"
                                   data-target=@('#' + documentModel.Title.ToSafeHtmlDomId() + "_topresults")
                                   value="@documentModel.Title" />

                        </li>
                    }
                </ul>
                @foreach (var documentModel in Model.DocumentModels)
                {
                    @RenderTopResultsChartData(documentModel, ViewBag.Charts as System.Collections.IDictionary);
                }

            </div>
}
@helper RenderAddAditionalDocumentsPanel()
        {
            <div id="adddocuments" class="tab-pane fade in">
                <h1>Add documents</h1>
                @Html.Partial("_DocumentUpload", new DocumentUploadModel { UploadTarget = "fileuploadtarget" })
            </div>
}




@helper RenderDocumentBodyModel(DocumentModel documentModel)
        {
            <div id=@(documentModel.Title.ToSafeHtmlDomId())
                 class="modal fade"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="#myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title">@documentModel.Title</h4>
                        </div>
                        <div class="modal-body">
                            <div class="document">
                                @foreach (var paragraphModel in documentModel.ParagraphModels)
                                {
                                    @Html.Partial("_Paragraph", paragraphModel)
                                }
                            </div>
                        </div>
                        <div class="modal-footer">@documentModel.Title</div>
                    </div>
                </div>
            </div>
}



@helper RenderTopResultsChartData(DocumentModel documentModel, System.Collections.IDictionary chartsByDocumentTitle)
        {
            <div id=@(documentModel.Title.ToSafeHtmlDomId() + "_topresults")
                 class="modal fade"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="#topResultsModal"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">@documentModel.Title</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container chart-container" id=@(documentModel.Title.ToSafeHtmlDomId() + "_resultschart" )>
                                <span id=@(documentModel.Title.ToSafeHtmlDomId() + "_topresultrows") hidden>
                                    <!-- Render the chart data which will be JSON encoded as an array of arrays -->
                                    @chartsByDocumentTitle[documentModel.Title])
                                </span>
                            </div>
                        </div>
                        <div class="modal-footer">@documentModel.Title</div>
                    </div>
                </div>
            </div>
}


@helper RenderStaticContextMenuMarkup()
        {
            <div id="context-menu" class="context" hidden>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px;">
                    <li class="view-subects-menu-item"><a href="#">View Subjects</a></li>
                    <li class="view-directobjects-menu-item"><a href="#">View Direct Objects</a></li>
                    <li class="view-indirectobjects-menu-item"><a href="#">View Indirect Objects</a></li>
                    <li class="view-referredto-menu-item"><a href="#">View Referred To</a></li>
                </ul>
            </div>
}